<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% project.forEach(record => { %>
        <h1><%= record.pName %></h1>
        <h3><%= record.summary %></h3>
    <% }) %>
    <% userproject.forEach(record => { %>
        <h1><%= record.userID %></h1>
        <h3><%= record.projectID %></h3>
    <% }) %>
        
</body>
</html>