<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <style>
    .contributor-box{
        border: 1px solid black;
        margin: 2vw;
    }
    </style>

</head>
  <body style="background-color: rgb(73, 72, 72)">
        <% include partials/template/header.ejs %>
        <div class="container-fluid">
            <div class="row">
                <div id="ideaHeader" class="col lightup" style="background-color: gray; margin: 5vh 5vw 0px 5vw;">
                    <h2><%=project.pName%></h2>
                </div>
                <div class="w-100"></div>
                <div class="col" style="background-color: rgb(253, 244, 231); height: 40vh; margin: 0px 5vw 0px 5vw; padding: 5vw;">
                    <div style="margin: 0% 0% 0% 80%">
                        
                        <button id="join" class="btn btn-dark btnLightUp ">
                            Join Our Project!
                        </button>
                    </div>
                    <br>
                    <h5>About Our Project:</h5>
                    <br>
                        <%=project.description%>

                    
                </div>
                <div class="w-100"></div>
                <div class="col" style="background-color: rgb(253, 244, 231); margin: 0px 5vw 0px 5vw;">
                    <div style="border: 1px solid black; margin: 5vw; padding: 1vw; border-radius: 25px; text-align: center">
                    Contributors
                    <br>
                        

                    <div class="row">
                            <% userNames.forEach(element => { %>
                                <% userIds.forEach(id => { %>
                                    <a href="/userProfile/<%=id%>" style="color: black; text-decoration: none;">
                                <% }) %> 
                                <div class="col contributor-box" style="border-radius: 25px; text-align: center; background-color: gray">
                                        <%=element%></a>
                                </div>
                            <% }) %>
                    </div>
                    </div>
                </div>

                <div class="w-100"></div>
                <div class="col" style="background-color: gray; height: 10vh; margin: 0px 5vw 5vh 5vw;">
                    Idea Footer
                </div>
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script>
    $(document).ready(function() {
        $("#ideaCard").mouseenter(function(){
            $("#ideaHeader").css("background-color", "yellow");
            });
        $("#ideaCard").mouseleave(function(){
            $("#ideaHeader").css("background-color", "gray");
            });
        $(".contributor-box").mouseenter(function(){
            $(this).css("background-color", "yellow");
            });
        $(".contributor-box").mouseleave(function(){
            $(this).css("background-color", "gray");
            });
            
        // $("#join").click(function(){
        //     fetch('/ideaPage/:ideaID')
        //     .then
        // })
        

        
        


    
    }); //end JQuery document.ready


    </script>

</body>
</html>